*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #999;

}
html{
    text-align: center;
    font-size:62.5%
    
}

.container{
    width:36%;
    height:800px;
    border:none;
    background:linear-gradient(to top left,#753682 0%,#bf2e34 100% );
    border: 2px solid black;
    margin-top:25px;
    box-shadow: 5px 5px #6A0DAD,10px 10px #FFF,15px 15px #B57EDC;
}

.container h3{
    font-size:4rem;
    margin:50px 50px
    
}
.conatiner p{
    font-size:5rem;
    margin-top:20rem;
    color:black
}

.primary-link:link{
    text-decoration: none;
    font-size:4rem;
    margin-top:20rem




}