*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-color: #f3f3f3;
}
.book{
    position:relative;
    width:400px;
    height:500px;
    perspective: 1500px;
    background-color: #f2f2f2;
    border:1px solid #aaa;
    overflow: hidden;
}
.page{
    position:absolute;
    width:100%;
    height:100%;
    background: white;
    border: 1px solid #ccc;
   
    transform-origin:left;
    backface-visibility:hidden;
    transition:transform 1s ease, z-index 0.5s ease;
}

/*Add a gradient to simulate the curl effect*/
.page::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    background: linear-gradient(to right,rgba(248, 247, 247, 0.897)),transparent;
    pointer-events: none;
    z-index:1
}
/*add the gradient to simulate the back side of the page*/
.page::after{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    background: linear-gradient(to right,transparent,rgb(240, 237, 237));
    backface-visibility: hidden;
    z-index:-1

}

.page:nth-child(even){
    background-color:#faf5f5
}
/*deffault state of the page*/
.page{
    transform:rotateY(0deg)
}
/*fliped state of the prev pages*/
.page .flipped{
    transform: rotateX(180deg);
}
#btn{
    margin:25px

}
button{
    margin:10px;
    padding:10px 20px;
    cursor:pointer;
    font-size:16px
}
.text{
    position:absolute;
    right:2px;
    margin: 3px 6px;
}

#textArea{
    width:300px;
    height:500px;
    border:none;
    border:1px solid purple;
    

}
.text button{
    width:100px;
    height:30px;
    border:none;
    border-radius:5px;
    background-color: purple;
    color:white;
    padding:2px

}